

.card-active .card-header {
  background-color: #e94f4f;
}
.card-future .card-header {
  background-color: #a463f2;
}
.card-completed .card-header {
  background-color: #bdbdbd;
}


.footer-date-future {
  background-color: #ffeb99;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 600;
}


.footer-date-active,
.footer-date-completed {
  color: #888;
}

.card {
  width: 360px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  font-family: 'Segoe UI', sans-serif;
  margin: 20px auto;
}


.card-header {
  background-color: #e94f4f;
  color: white;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}


.header-circle {
  width: 32px;
  height: 32px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  font-weight: bold;
}

.header-title {
  font-size: 16px;
  font-weight: 600;
}

.header-code {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.header-code img {
  width: 20px;
  height: 20px;
}


.card-body {
  padding: 20px;
  font-size: 16px;
  color: #2f2f2f;
  text-align: left;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #dbdbdb;
}


.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  font-size: 13px;
  color: #888;
}

